In analytics, the first rule is “know your data.”
Before cleaning or analyzing, you must explore the dataset’s shape, column types, and potential issues (e.g., blanks, duplicates, wrong data types).

In [1]:
# REQUIRED LIBRARIEs

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [3]:
# LOAD THE DATASET
df = pd.read_csv("E:\\data_analytics_project\\retail_sales_dataset\\data\\retail_sales_dataset.csv")

In [4]:
# quick look at the dataset
df.head(15)

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100
5,6,2023-04-25,CUST006,Female,45,Beauty,1,30,30
6,7,2023-03-13,CUST007,Male,46,Clothing,2,25,50
7,8,2023-02-22,CUST008,Male,30,Electronics,4,25,100
8,9,2023-12-13,CUST009,Male,63,Electronics,2,300,600
9,10,2023-10-07,CUST010,Female,52,Clothing,4,50,200
10,11,2023-02-14,CUST011,Male,23,Clothing,2,50,100
11,12,2023-10-30,CUST012,Male,35,Beauty,3,25,75
12,13,2023-08-05,CUST013,Male,22,Electronics,3,500,1500
13,14,2023-01-17,CUST014,Male,64,Clothing,4,30,120
14,15,2023-01-16,CUST015,Female,42,Electronics,4,500,2000

In [7]:
# basic information to know more

print("Shape of dataset is: ", df.shape)
print("column names are: ", df.columns.tolist())

Shape of dataset is:  (1000, 9)
column names are:  ['Transaction ID', 'Date', 'Customer ID', 'Gender', 'Age', 'Product Category', 'Quantity', 'Price per Unit', 'Total Amount']

In [11]:
# data types and missing values!
print("datatypes: ", df.info())
print("-------------------------------------------------")
#missing values
print("Missing Values: ", df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB
datatypes:  None
-------------------------------------------------
Missing Values:  Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64

In [12]:
# descriptive statistics

print("Summary: ", df.describe())

Summary:         Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

In [13]:
# Data Conversion

df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')

In [14]:
#checking duplicates
duplicates = df.duplicated().sum()
print(duplicates)

0

In [15]:
df['Month'] = df['Date'].dt.month_name()
df['Year'] = df['Date'].dt.year

In [17]:
# Create Age groups for segmentation
bins = [0, 25, 35, 50, 65]
labels = ['Youth (18-25)', 'Young Adult (26-35)', 'Adult (36-50)', 'Senior (51-65)']
df['Age Group'] = pd.cut(df['Age'], bins=bins, labels=labels, include_lowest=True)

In [18]:
# Check new data structure
print(df.head())

   Transaction ID       Date Customer ID  Gender  Age Product Category  \
0               1 2023-11-24     CUST001    Male   34           Beauty
1               2 2023-02-27     CUST002  Female   26         Clothing
2               3 2023-01-13     CUST003    Male   50      Electronics
3               4 2023-05-21     CUST004    Male   37         Clothing
4               5 2023-05-06     CUST005    Male   30           Beauty

   Quantity  Price per Unit  Total Amount     Month  Year            Age Group
0         3              50           150  November  2023  Young Adult (26-35)
1         2             500          1000  February  2023  Young Adult (26-35)
2         1              30            30   January  2023        Adult (36-50)
3         1             500           500       May  2023        Adult (36-50)
4         2              50           100       May  2023  Young Adult (26-35)

In [19]:
print("\nUpdated Info: \n")
print(df.info())

Updated Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   datetime64[ns]
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
 9   Month             1000 non-null   object
 10  Year              1000 non-null   int32
 11  Age Group         1000 non-null   category
dtypes: category(1), datetime64[ns](1), int32(1), int64(5), object(4)
memory usage: 83.3+ KB
None